@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Monoton&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Roboto"
}
.special-thanks{
    font-family: "Monoton"
}

.box-shrink {
    width: 430px;
    height: 430px;
    border-radius: 54% 39% 85% 100% / 78% 23% 63% 71%;
    background: linear-gradient(royalblue, magenta);
    transition: all 0.6s ease-in-out;
}

.box-shrink:hover {
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    transform: scale(1.1);
}

.why-autumnhq {
    width: 200px;
    height: 50px;
    background: linear-gradient(cyan, rgb(88, 88, 234));
    transition: all 0.6s ease-in-out;
}

.why-autumnhq:hover {
    width: 220px;
    transform: scale(1.1);
}

.get-hover:hover {
    transition: all 0.6s ease-in-out;
    background-color: rgb(9, 86, 9);
}

.search-hover:hover {
    transition: all 0.6s ease-in-out;
    background-color: rgb(13, 99, 99);
}